@font-face {
  font-family: "Cabinet Grotesk";
  src: url(/src/vendor/cabinet-grotesk/CabinetGrotesk-Regular.otf);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal_opened {
  visibility: visible;
}

.modal__title {
  margin: 0;
  font-family: Cabinet Grotesk, cursive;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 24px;
}

.modal__title-editProfile {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  margin: 0;
  padding-bottom: 28px;
}

.modal__close {
  background-image: url("/src/images/add_garment_close.png");
  position: absolute;
  top: 22px;
  right: 30px;
  width: 20px;
  height: 20px;
  border: none;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 498px;
  height: 436px;
  box-sizing: border-box;
  width: 100%;
  border-radius: 20px;
  border: 1px;
}

.modal__content-login {
  max-width: 496px;
  height: 304px;
}

.modal__content-editProfile {
  max-width: 496px;
  height: 304px;
}

.modal__form {
  width: 100%;
}

.modal__form-editProfile {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.modal__button-container {
  display: flex;
  max-width: 164px;
  height: 36px;
  align-items: center;
}

.modal__button-container-editProfile {
  padding-top: 12px;
}

.modal__button-container-addItem {
  padding-top: 31px;
}

.modal__input {
  display: block;
  border: none;
  padding-top: 8px;
}

.modal__span-divider {
  border-bottom: 1px solid black;
  flex-grow: 1;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
}

.modal__legend {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  padding-bottom: 12px;
}

.modal__label {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  display: flex;
  padding-bottom: 24px;
}

.modal__label_type_radio {
  padding-bottom: 8px;
  color: rgba(0, 0, 0, 0.3);
}

.modal__label_type_radio:checked {
  color: rgba(0, 0, 0, 1);
}

.modal__label_span {
  flex-direction: column;
}

.modal__radio-input {
  margin-right: 8px;
}

.modal__radio-input:checked {
  color: rgba(0, 0, 0, 1);
  /* border: none;
  outline: 2px solid blue; */
}

.modal__button-text {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  cursor: pointer;
}

.modal__button-style {
  height: 36px;
  border-radius: 4px;
  border: none;
  background-color: black;
  color: white;
}

.modal__button-width-editProfile {
  max-width: 128px;
}

.modal__button-width-addItem {
  max-width: 124px;
}

.modal__button-submit {
  width: 124px;
  height: 36px;
  margin-top: 32px;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  border: none;
  border-radius: 4px;
}

.modal__button-submit:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__button-submit-no-margin {
  margin: 0;
}

.modal__button-login {
  padding: 0;
  width: 60px;
  height: 20px;
  border: none;
  background-color: #fff;
  color: gray;
  margin-left: 12px;
}

.modal__button-register {
  padding: 0;
  width: 79px;
  height: 20px;
  border: none;
  background-color: #fff;
  color: gray;
  margin-left: 12px;
}
