.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  width: 225px;
  margin: 0;
  padding: 0 80px 0 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card__like-btn {
  position: relative;
  top: 23px;
  left: -50px;
  cursor: pointer;
}

.card__image {
  width: 325px;
  min-width: 100%;
  height: 328px;
  border-radius: 20px;
}

@media screen and (max-width: 600px) {
  .card {
    width: 47vw;
  }
}

@media screen and (max-width: 377px) {
  .card {
    height: 164px;
    width: 164px;
  }

  .card__name {
    width: 100px;
  }

  .card__image {
    width: 164px;
    height: 164px;
  }
}
