@font-face {
  font-family: "Cabinet Grotesk";
  src: url(/src/vendor/cabinet-grotesk/CabinetGrotesk-Regular.otf);
}

.cards__text {
  font-family: Cabinet Grotesk;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  color: rgba(0, 0, 0, 1);
}

.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 21px;
}

@media screen and (max-width: 721px) {
  .cards__list {
    justify-content: center;
  }
}

@media screen and (max-width: 430px) {
  .cards__list {
    justify-content: center;
  }
}
