@font-face {
  font-family: "Cabinet Grotesk";
  src: url(/src/vendor/cabinet-grotesk/CabinetGrotesk-Bold.otf);
}

.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__logo {
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__container {
  display: flex;
}

.header__add-clothes-btn {
  margin: 0 20px 0 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  cursor: pointer;
}

.header__link {
  text-decoration: none;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk";
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  text-align: left;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}

.header__avatar {
  max-width: 40px;
  max-height: 40px;
  border-radius: 18px;
}

.header__buttons-container {
  display: flex;
}

.header__signUp {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  margin-right: 20px;
  padding: 0;
  border: none;
  background: none;
}

.header__login {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 0;
  border: none;
  background: none;
}

@media screen and (max-width: 600px) {
  .header {
    flex-wrap: wrap;
  }

  .header__buttons-container {
    column-gap: 5px;
  }

  .header__signUp,
  .header__login {
    margin: 0;
  }
}

@media screen and (max-width: 430px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 100%;
    height: 208px;
    padding: 0;
    margin-bottom: 15px;
  }

  .header__add-clothes-btn {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  .header__logo {
    margin: 0 auto;
    height: 100px;
  }

  .header__container {
    align-items: center;
    column-gap: 10px;
    margin: 0 auto;
  }
}
