@font-face {
  font-family: "Cabinet Grotesk";
  src: url(/src/vendor/cabinet-grotesk/CabinetGrotesk-Regular.otf);
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 171px;
}

.footer__text {
  font-family: Cabinet Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

@media screen and (max-width: 375px) {
  .footer {
    padding-top: 85px;
    max-width: 343px;
  }
}
