/* Typography: 
    font-family: Cabinet Grotesk;
font-weight: 700;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
 */

@font-face {
  font-family: "Cabinet Grotesk";
  src: url(/src/vendor/cabinet-grotesk/CabinetGrotesk-Bold.otf);
}
